body {
	font-weight: 100;
}

p,
h3,
h4,
h5 {
	font-family: 'Raleway', sans-serif;
}
h2 {
	font-family: 'Cabin', sans-serif;
}

/*certificate slider*/
.img-responsive {
	width: 100%;
	padding: 10%;
}

.textCenter {
	text-align: center;
}

.card {
	margin: 0;
}

/*certificate slider arrows*/
.slick-prev:before,
.slick-next:before {
	font-size: 32px;
}

.highlight {
	color: #ff80ab;
}
