body {
	font-weight: 100;
}

p,
h3,
h4,
h5 {
	font-family: 'Raleway', sans-serif;
}
h2 {
	font-family: 'Cabin', sans-serif;
}

/*certificate slider*/
.img-responsive {
	width: 100%;
	padding: 10%;
}

.textCenter {
	text-align: center;
}

.card {
	margin: 0;
}

.slick-prev {
	left: 0px !important;
}

.slick-next {
	right: 0px !important;
}
