.welcome {
    @include background-image-url('background-image');
    display: grid;
    grid-column: full-start / full-end;
    grid-template-rows: 1fr min-content;
    clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
    height: 95vh;
    background-size: cover;
    background-position: center;
    color: $color-white-multi-theme;
    .greeting {
        align-self: center;
        justify-self: center;
        &__user-name {
            @include color('secondary-color');
            text-shadow: 2px 3px 6px rgba(0,0,0,0.2)
        }
        .Typist {
            display: grid;
            grid-row-gap: 1rem;
        }
    }
    .control-panel {
        position: absolute;

        .fa {
            font-size: 3rem;
            padding: 1rem 0 0 1.5rem;
        }
        &__logout {
            color: $color-white-multi-theme;
        }
    }
    .info-block {
        padding-bottom: 4rem;
    }

    @include respond(tab-port) {
        clip-path: polygon(0 0, 100% 0, 100% 87vh, 0 100%);
    }
}