

// COLOR VARIABLES
// $color-primary: #c69963;
// $color-primary-dark: #B28451;

// $color-secondary: #101d2c;

// $color-grey-light-1: #f9f7f6;
// $color-grey-light-2: #aaa;

// $color-grey-dark-1: #54483A;
// $color-grey-dark-2: #6D5D4B;
$light-pink-multi-theme: #ff80ab;
$pink-color-multi-theme: #FF4081;
$blue-color-multi-theme: #00BCD4;
$blue-color-dark-theme: #0097a7;
$grey-color-dark-theme: #303030;
$light-grey-multi-theme: #AAAAAA;
$color-white-multi-theme: #fff;
// $font-primary: #c69963;
// $color-primary-dark: #B28451;
$font-primary: 'Raleway', sans-serif;
$font-display: 'Oxygen', sans-serif;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em;   // 1200px
$bp-large: 62.5em;   // 1000px
$bp-medium: 50em;    // 800px;
$bp-small: 37.5em;    // 600px;


$themes: (
  'light': (
    'blue': $blue-color-multi-theme,
    'skew-panel-phone-color': $light-grey-multi-theme !important,
    'dialog-box-font-color': $grey-color-dark-theme !important,
    'secondary-color': $blue-color-multi-theme !important,
    'skewed-panel-icon-color': $light-grey-multi-theme,
    'text-highlight': $blue-color-multi-theme,
    'alt-text-hightlight': $grey-color-dark-theme,
    'background-color': $color-white-multi-theme,
    'background-image': url('https://davidjwall-profileimages.s3-ap-northeast-1.amazonaws.com/maccomputer_darkened3_flipped.jpg'),
    'linear-gradient': (
        103deg,
        rgba(255, 255, 255, 0.8) 0%,
        rgba(255, 255, 255, 0.8) 52%, transparent 52%
      )
  ),
  'dark': (
    'blue': $blue-color-dark-theme,
    'skew-panel-phone-color': $blue-color-dark-theme !important,
    'dialog-box-font-color': $color-white-multi-theme !important,
    'secondary-color': $pink-color-multi-theme !important,
    'skewed-panel-icon-color': $blue-color-dark-theme,
    'text-highlight': $pink-color-multi-theme,
    'alt-text-hightlight': color-white-multi-theme,
    'background-color': $grey-color-dark-theme,
    'background-image': url('https://s3-ap-northeast-1.amazonaws.com/davidjwall-profileimages/caspar-rubin-224229.jpg'),
    'linear-gradient': (
        103deg,
        rgba(48, 48, 48, 0.8) 0%,
        rgba(48, 48, 48, 0.8) 52%, transparent 52%
      )
  )
) !default;