
$themes: (
  'light': (
    'primary': white,
    'color': #aaaaaa,
    'background-image': url('https://davidjwall-profileimages.s3-ap-northeast-1.amazonaws.com/maccomputer_darkened3_flipped.jpg'),
    'linear-gradient': (
        103deg,
        rgba(255, 255, 255, 0.8) 0%,
        rgba(255, 255, 255, 0.8) 52%, transparent 52%
      )
  ),
  'dark': (
    'primary': #303030,
    'color': white,
    'background-image': url('https://s3-ap-northeast-1.amazonaws.com/davidjwall-profileimages/caspar-rubin-224229.jpg'),
    'linear-gradient': (
        103deg,
        rgba(48, 48, 48, 0.8) 0%,
        rgba(48, 48, 48, 0.8) 52%, transparent 52%
      )
  )
) !default;

// COLOR VARIABLES
// $color-primary: #c69963;
// $color-primary-dark: #B28451;

// $color-secondary: #101d2c;

// $color-grey-light-1: #f9f7f6;
// $color-grey-light-2: #aaa;

// $color-grey-dark-1: #54483A;
// $color-grey-dark-2: #6D5D4B;

// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em;   // 1200px
$bp-large: 62.5em;   // 1000px
$bp-medium: 50em;    // 800px;
$bp-small: 37.5em;    // 600px;