.welcome {
	background-image: url("https://s3-ap-northeast-1.amazonaws.com/davidjwall-profileimages/caspar-rubin-224229.jpg");
	background-size: cover;
	background-position: center center;
	text-align: center;
}
